## Settings file was created by plugin Radar v1.2.0
## Plugin GUID: Tyrian.Radar

[Advanced Settings]

# Setting type: Boolean
# Default value: false
尸体位置显示 = true

# Setting type: KeyboardShortcut
# Default value: F11
尸体显示热键 = None

# Setting type: Boolean
# Default value: false
高价值物品显示 = false

# Setting type: KeyboardShortcut
# Default value: F9
物品显示热键 = None

# Setting type: Boolean
# Default value: false
按每格价值 = false

Corpse Detection Enabled = true

Short cut for enable/disable corpse dection = None

Loot Detection Enabled = false

Short cut for enable/disable loot dection = None

Per slot value = false

[Base Settings]

## Preferred language, if not available will tried English
# Setting type: String
# Default value: EN
# Acceptable values: EN, ZH, RU, KO
Language = ZH

# Setting type: Boolean
# Default value: true
开启雷达 = true

# Setting type: KeyboardShortcut
# Default value: F10
雷达开启热键 = F7

## 增加转圈扫描效果
# Setting type: Boolean
# Default value: true
开启雷达扫描动画 = true

## 只显示开火的敌人
# Setting type: Boolean
# Default value: false
开火模式 = false

## 雷达显示在罗盘上
# Setting type: Boolean
# Default value: false
罗盘模式 = false

## 在雷达地图上显示雷区
# Setting type: Boolean
# Default value: false
雷区 = false

Radar Enabled = true

Short cut for enable/disable radar = None

Radar Pulse Enabled = false

Fire Mode = false

Compass Mode = false

[Color Settings]

# Setting type: Color
# Default value: FF0000FF
Boss颜色 = FF0000FF

# Setting type: Color
# Default value: 00FF00FF
SCAV颜色 = 00FF00FF

# Setting type: Color
# Default value: FFFF00FF
USEC颜色 = FFFF00FF

# Setting type: Color
# Default value: FF8000FF
BEAR颜色 = FF8000FF

# Setting type: Color
# Default value: E68080FF
物品颜色 = E68080FF

# Setting type: Color
# Default value: 808080FF
尸体颜色 = 808080FF

# Setting type: Color
# Default value: 00B2D9FF
背景颜色 = 00B2D9FF

# Setting type: Color
# Default value: B2B2B24C
雷区颜色 = B2B2B24C

Boss Color = FF0000FF

SCAV Color = 00FF00FF

USEC Color = FFFF00FF

BEAR Color = FF9000FF

Corpse Color = 808080FF

Loot Color = E68080FF

Background Color = 00B2D9FF

[Radar Settings]

## 雷达界面的大小
# Setting type: Single
# Default value: 0.8
# Acceptable value range: From 0 to 1
雷达界面大小 = 0.5420815

## 目标点大小
# Setting type: Single
# Default value: 0.7
# Acceptable value range: From 0 to 1
目标点大小 = 0.7

## 调整近处与远处目标在雷达上的分布位置
# Setting type: Single
# Default value: 0.7
# Acceptable value range: From 0.1 to 2
目标点距离缩放 = 0.5710407

## 目标点与玩家的高度差超过该值会显示为箭头
# Setting type: Single
# Default value: 1
# Acceptable value range: From 1 to 4
目标点高度变化阈值 = 1

## 雷达界面X位置
# Setting type: Int32
# Default value: 300
# Acceptable value range: From 0 to 4000
雷达X = 1657

## 雷达界面Y位置
# Setting type: Int32
# Default value: 150
# Acceptable value range: From 0 to 3000
雷达Y = 884

## 在该范围内的目标会显示在雷达上
# Setting type: Int32
# Default value: 128
# Acceptable value range: From 32 to 1024
雷达范围 (外) = 128

## 在该范围内的目标会隐藏
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 64
雷达范围 (内) = 0

## 两次扫描的时间间隔
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0.1 to 30
雷达扫描间隔 = 1

## 物品高于此售卖价格会显示在雷达上
# Setting type: Int32
# Default value: 30000
# Acceptable value range: From 5000 to 200000
物品阈值 = 30000

HUD Size = 0.5934272

HUD Blip Size = 0.7981221

HUD Blip Disntance Scale Offset = 1

HUD Blip Height Threshold = 1

HUD X Position Offset = 1788

HUD Y Position Offset = 890

Radar Outer Range = 120

Radar Inner Range = 0

Radar Scan Interval = 1.561502

Loot Threshold = 30000

